﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

<div class="wrapper">
    <div class="left-container">
        <div class="calendar-container">
            <div></div>

            <!-- Calendar Heads -->
            @for (int i = 0; i < 7; i++)
            {
                string titleId = "day" + i + "-title";
                string dateId = "day" + i + "-date";
                <div class="calendar-column-head">
                    <p class="calendar-head-title" id="@titleId"></p>
                    <p class="calendar-head-date" id="@dateId"></p>
                </div>
            }

            <div></div>

            <!-- Calendar Full Day -->
            @for (int i = 0; i < 7; i++)
            {
                string id = "full-day" + i + "-content";
                <div class="calendar-column-full-day" id="@id"></div>
            }

            <!-- Calendar Scale -->
            <div class="calendar-scale">
                @for (int i = 0; i < 24; i++)
                {
                    <div class="calendar-scale-indicator">
                        <div class="calendar-scale-bar"></div>
                        <span>@i:00</span>
                    </div>
                }
            </div>

            <!-- Calendar Events -->
            @for (int i = 0; i < 7; i++)
            {
                string contentId = "day" + i + "-content";
                <div class="calendar-column-content">
                    @if (i == 0)
                    {
                        <div id="calendar-cursor"></div>
                    }
                    <div class="calendar-content" id="@contentId"></div>
                </div>
            }
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <div class="clock" style="font-size: 0;">
                <span id="clock-hour"></span>
                <span>:</span>
                <span id="clock-minute"></span>
                <span id="clock-second"></span>
            </div>
            <div class="date-container">
                <span id="date"></span>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var containers = [];
        var fullDayContainers = [];
        for (var i = 0; i < 7; i++) {
            containers[i] = document.getElementById('day' + i + '-content');
            fullDayContainers[i] = document.getElementById('full-day' + i + '-content');
        }

        function updateCalendarContent() {
            fetch(getEventUrl())
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    displayContent(data);
                }).catch(error => {
                    console.log(error);
                });
        }

        function displayContent(data) {
            for (var i = 0; i < 7; i++) {
                clearElementContent(containers[i]);
                clearElementContent(fullDayContainers[i]);
            }

            var fullDayEvents = [];
            var events = [];
            for (var calendarId in data.events) {
                for (var eventId in data.events[calendarId]) {
                    var event = data.events[calendarId][eventId];

                    if (event.start.date) {
                        fullDayEvents.push(event);
                    } else if (event.start.dateTime) {
                        events.push(event);
                    }
                }
            }

            for (var i in fullDayEvents) {
                displayFullDayEvent(fullDayEvents[i]);
            }

            for (var i in events) {
                displayEvent(events[i]);
            }

            cleanOverlaps();
        }

        function clearElementContent(node) {
            while (node.lastElementChild) {
                node.removeChild(node.lastElementChild);
            }
        }

        function displayFullDayEvent(event) {
            var startDate = new Date(Date.parse(event.start.date));
            var endDate = new Date(Date.parse(event.end.date));

            var startId = getDifferenceFromTodayInDays(startDate);
            var endId = getDifferenceFromTodayInDays(endDate) - 1;

            //Only add events from this week
            if (startId < 0)
                startId = 0;

            if (endId > 6)
                endId = 6;

            for (var i = startId; i <= endId; i++) {
                //Create new event <div>
                var newcontent = document.createElement('div');

                newcontent.classList.add('calendar-event');

                newcontent.style.backgroundColor = event.colors.background;
                newcontent.style.color = event.colors.foreground;
                newcontent.style.borderColor = 'var(--event-border)';
                newcontent.style.width = fullDayContainers[i].clientWidth + 'px';
                newcontent.style.height = '30px';

                var title = event.summary ?? "(Kein Titel)";
                newcontent.innerHTML = title;

                //Append new event to container
                fullDayContainers[i].appendChild(newcontent);
            }
        }

        function displayEvent(event) {
            var startTime = new Date(Date.parse(event.start.dateTime));
            var endTime = new Date(Date.parse(event.end.dateTime));

            var startId = getDifferenceFromTodayInDays(startTime);
            var endId = getDifferenceFromTodayInDays(endTime);

            //Only add events from this week
            if (startId < 0)
                startId = 0;

            if (endId > 6)
                endId = 6;

            for (var i = startId; i <= endId; i++) {
                //Set flags if event is longer than one day
                var extendToBottom = false;
                var extendToTop = false;

                if (endId > startId) {
                    if (i == startId || i < endId) {
                        extendToBottom = true;
                    }
                    if (i > startId) {
                        extendToTop = true;
                    }
                }

                //Create new event <div>
                var newcontent = document.createElement('div');

                var posY = extendToTop ? 0 : getPosY(startTime);
                var height = extendToBottom ? containers[i].clientHeight - posY : getPosY(endTime) - posY;

                var style = height < 20 ? 'calendar-event-small' : 'calendar-event';
                newcontent.classList.add(style, 'absolute');

                newcontent.style.backgroundColor = event.colors.background;
                newcontent.style.color = event.colors.foreground;
                newcontent.style.borderColor = 'var(--event-border)';
                newcontent.style.transform = 'translate(0, ' + posY + 'px)';
                newcontent.style.height = height + 'px';
                newcontent.style.width = containers[i].clientWidth + 'px';

                var title = event.summary ?? '(Kein Titel)';
                newcontent.innerHTML = title;

                //Append new event to container
                containers[i].appendChild(newcontent);
            }
        }

        function getPosY(date) {
            var h = date.getHours();
            var m = date.getMinutes() / 60;
            return (containers[0].clientHeight / 24) * (h + m);
        }

        function cleanOverlaps() {
            for (var i in containers) {
                var containerWidth = containers[i].clientWidth;
                var overlapBuckets = {};

                //Find overlaps and group them
                for (var j = 0; j < containers[i].childNodes.length - 1; j++) {
                    var element1 = containers[i].childNodes[j];

                    overlapBuckets[j] = [j];

                    for (var k = j + 1; k < containers[i].childNodes.length; k++) {
                        var element2 = containers[i].childNodes[k];

                        var bounds1 = element1.getBoundingClientRect();
                        var bounds2 = element2.getBoundingClientRect();
                        const offset = 25;
                        if (Math.abs(bounds1.y - bounds2.y) <= offset && checkOverlap(bounds1, bounds2)) {
                            overlapBuckets[j].push(k);
                        }
                    }
                }

                //Resize overlapping elements
                for (var j in overlapBuckets) {
                    var n = overlapBuckets[j].length;
                    var width = containerWidth / n;

                    for (var k = 0; k < n && n > 1; k++) {
                        var l = overlapBuckets[j][k];
                        var node = containers[i].childNodes[l];
                        var y = node.getBoundingClientRect().y - containers[i].getBoundingClientRect().y;
                        node.style.transform = 'translate(' + width * k + 'px, ' + y + 'px)';
                        node.style.width = width + 'px';
                    }
                }
            }
        }

        function checkOverlap(rect1, rect2) {
            return !(rect1.right < rect2.left ||
                rect1.left > rect2.right ||
                rect1.bottom < rect2.top ||
                rect1.top > rect2.bottom)
        }

        function getDifferenceFromTodayInDays(date) {
            var today = new Date();
            var startOfToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);
            var diffMs = date - startOfToday;
            var diffDay = Math.floor(diffMs / 86400000);

            return diffDay < 0 ? -1 : diffDay;
        }

        function getEventUrl() {
            var hostname = window.location.hostname;
            var port = window.location.port;
            return "https://" + hostname + (port ? ":" + port : "") + "/api/events"
        }

        updateCalendarContent();
        setInterval(updateCalendarContent, 60000);
    </script>

    <script>
        function updateCalendarHead() {
            var days = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];
            var today = new Date();

            for (var i = 0; i < 7; i++) {
                document.getElementById('day' + i + '-title').innerHTML = days[(today.getDay() + i) % 7];
                document.getElementById('day' + i + '-date').innerHTML = today.getDate() + i;
            }
        }

        function updateDate() {
            const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var today = new Date();

            document.getElementById("date").innerHTML = today.toLocaleDateString('de-DE', options);
        }

        function updateCalendar() {
            updateCalendarHead();
            updateDate();

            var today = new Date();
            var endOfDay = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1, 0, 0, 0);
            var timeRemaining = endOfDay.getTime() - today.getTime();
            setTimeout(updateCalendar, timeRemaining);
        }

        updateCalendar();
    </script>

    <script>
        var column = document.getElementById('day0-content');
        var width = column.clientWidth;
        var cursor = document.getElementById('calendar-cursor');
        cursor.style.width = width + 'px';

        function updateCursor() {
            var time = new Date();
            var height = column.clientHeight;
            var h = time.getHours();
            var m = time.getMinutes() / 60;
            var posY = (height / 24) * (h + m);
            cursor.style.transform = 'translate(0, ' + posY + 'px)';
        }

        updateCursor();
        setInterval(updateCursor, 30000);
    </script>

    <script>
        function updateClock() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();

            h = formatTime(h);
            m = formatTime(m);
            s = formatTime(s);

            document.getElementById('clock-hour').innerHTML = h;
            document.getElementById('clock-minute').innerHTML = m;
            document.getElementById('clock-second').innerHTML = s;
        }

        function formatTime(i) {
            return i < 10 ? '0' + i : i;
        }

        setInterval(updateClock, 500);
    </script>
}
