﻿@page
@using CalendarPi.Services;
@model CalendarPi.Pages.NotesModel
@{
    ViewData["Title"] = "Quick Notes";
}

@{
    foreach (var note in QuickNotesService.QuickNotes)
    {
        <div>
            <h1>@note.Title</h1>
            <p>@note.Content</p>
        </div>
    }
}