﻿
:root {
    --background: #262626;
    --foreground: #535353;
    --bar: #424242;
    --event-border: #969696;
    --deselected: #4D4D4D;
    --light-font: #F0F0F0;
    --dark-font: #A0A0A0;
    --icon: #DDDDDD;
}

html {
    background-color: black;
    font-size: 14px;
}

body {
    width: 1280px;
    height: 800px;
    background-color: var(--background);
    font-family: Roboto Light;
    color: var(--light-font);
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
}

.left-container {
    height: 100%;
    flex: 1;
    display: flex;
}

.right-container {
    margin: 0;
    border-left: 2px solid var(--bar);
    width: 300px;
    height: 100%;
    position: relative;
}

.absolute {
    position: absolute;
}

/*.right-container::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-image: linear-gradient(to right, var(--background), transparent 50%), url("../img/background.jpg");
        filter: saturate(0.5) blur(3px);
    }*/

.right-content {
    position: relative;
}

/* Clock styles
-------------------------------------------------- */
.clock {
    margin-top: 10px;
    font-size: 0;
    text-align: center;
    /*border-bottom: 1px solid var(--bar);*/
}

    .clock > span {
        font-size: 60px;
        line-height: 1;
    }

#clock-second {
    font-size: 30px;
    color: var(--dark-font);
    padding-left: 3px;
}

/* Date styles
-------------------------------------------------- */
.date-container {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid var(--bar);
}

/* Calendar styles
-------------------------------------------------- */
.calendar-scale {
    transform: translate(0px, -11px);
}

.calendar-scale-indicator {
    height: 4.16667%;
    float: right;
}

    .calendar-scale-indicator > span {
        font-size: 12px;
        color: var(--dark-font);
    }

.calendar-scale-bar {
    margin: 11px 0 0 3px;
    width: 10px;
    float: right;
    border-top: 1px solid var(--bar);
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px min-content auto;
}

.calendar-table {
    width: 95%;
    display: flex;
}

.calendar-column-head {
    padding-top: 6px;
    text-align: center;
    flex: auto;
}

    .calendar-column-head > p {
        margin-bottom: 0;
    }

.calendar-head-title {
    font-size: 14px;
}

.calendar-head-date {
    font-size: 26px;
    font-weight: bold;
}

.calendar-column-full-day {
    border-left: 1px solid var(--bar);
}

.calendar-column-content {
    border-left: 1px solid var(--bar);
    background-size: 4.16667% 4.16667%;
    background-image: linear-gradient(to bottom, var(--bar) 1px, transparent 1px);
    image-rendering: pixelated;
}

#calendar-cursor {
    position: absolute;
    border-bottom: 1px solid red;
    z-index: 1;
}

.calendar-content {
    width: 100%;
    height: 100%;
}

.calendar-event {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    font-size: 12px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.calendar-event-small {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    font-size: 10px;
    padding: 0 4px 0 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
